# Ignore Mac system files
.DS_store

# Ignore files related to API keys
.env

# Ignore secrets file
.streamlit/secrets.toml

# Ignore csv files
*.csv


# csvs
Enabler Intake Data List-Grid view_anonymized.csv
Enabler Intake Data List-Grid view.csv

# Ignore pkl files
rag_df.pkl
rag_embeddings.pkl
rag_index.pkl
rag_model.pkl